%li
  .twelve.columns
    .product{ data: { product_id: product.id } }
      %ul{style: "text-align: center"}
        = image_tag( asset_path("#{product.category.name}""/#{product.id}" "/1.jpeg"), height: '10px', alt: product.name )
        %li
          %b Name:
          = product.name
        %li
          %b Price:
          = product.price
          $
        = form_for @order do |f|
          - @prod_num=0
          = f.fields_for :order_products do |op|
            - if op.object.product.id == product.id
              - @prod_num=@prod_num+1
        = link_to 'Подробнее', product, class: 'small button radius'
        - if @prod_num > 0
          = link_to "В Корзине: #{@prod_num}", '#', class: 'small success button radius radius add_to_cart'
        - else
          = link_to 'В Корзину', '#', class: 'small button radius radius add_to_cart'
