%li
  .panel
    = image_tag( asset_path('1.jpeg'), size: "170x170", alt: product.name )
    %br
    %b Name:
    = product.name
    %br
    %b Price:
    = product.price
    $
    %br
    = link_to 'подробнее', product, class: "small button"
    = link_to 'заказать', new_order_path, class: "small button"