.row
  .twelve.columns
    .panel
      %h5= "Подробнее о: #{@product.name}"
      .row
        .four.columns
          .panel
            = image_tag( asset_path('1.jpeg'), size: "200x200", alt: @product.name )
        .four.columns
          .panel
            .product{ data: { product_id: @product.id } }
              %ul
                %li= "Name: #{@product.name}"
                %li= "Description: #{@product.description}"
                %li= "Price: #{@product.price}"
              = link_to 'Добавить в Корзину', '#', class: 'small button add_to_cart'
        .four.columns
= link_to 'Вернуться к Просмотру Продуктов', root_path, class: "small button"
