.seven.columns
  .panel
    %table{ style: "width: 100%;" }
      %thead
        %tr
          %td= "Название товара"
          %td= "Кол-во"
          %td= "Цена"
          %td= "Сумма ($)"
      %tbody
        - @items.each do |p|
          %tr
            %td= p.name
            %td= session[:products][p.id]
            %td= p.price
            %td= p.price*session[:products][p.id]
  .div{style: "text-align: center"}
    = link_to 'Оформить Покупку', new_order_path, class: 'small button'
    = link_to 'Вернуться к Просмотру Продуктов', root_path, class: "small button"
