.seven.columns
  .panel
    %ul{style: "text-align: center"}
      - if @products.blank?
        %h3 Ваша корзина пуста
      - else
        %h5{style: "text-align: center"} Товары в Вашей Корзине
        - @products.each do |p|
          %li= "\"#{p.name}\" x #{session[:products][p.id]} : #{p.price*session[:products][p.id]}$"
        %h5{style: "text-align: center"}= "На сумму: #{}$"

  .div{style: "text-align: center"}
    = link_to 'Оформить Покупку', new_order_path, class: 'small button'
    = link_to 'Вернуться к Просмотру Продуктов', root_path, class: "small button"