!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title CoolShop
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .row
      .twelve.columns
        %h3{style: "text-align: center"} Куча одинаковой херни по 999 баксов! Добро пожаловать!
        - if notice
          .alert-box.success{style: "text-align: center"}= notice
        - if alert
          .alert-box.alert{style: "text-align: center"}= notice
        .row
          .three.columns
            %div{style: "text-align: center"}
              %h6категории:
              %ul
                %li= link_to "All prices", root_path
                = categories_menu
          = yield
          .two.columns
            %div{style: "text-align: center"}
              = link_to 'Ваша Корзина', order_products_path, class: 'small success radius button'
%ul{style: "text-align: center"}
  #myModal.reveal-modal
    %h2 Товар успешно добавлен!